<div class="grid grid-cols-2">
  <button
    (click)="onNewRecipe()"
    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded disabled:bg-gray-200"
  >
    New Recipe
  </button>
</div>

<hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700" />

<div class="grid">
  <!-- <app-recipe-item
    class="mb-4 last:mb-0"
    [routerLink]="['/recipes', recipe.index]"
    routerLinkActive="bg-gray-200"
    *ngFor="let recipe of recipes; let i = index"
    [recipe]="recipe"
    [index]="i"
  ></app-recipe-item> -->
  <app-recipe-item
    class="mb-4 last:mb-0"
    *ngFor="let recipe of recipes; let i = index"
    [recipe]="recipe"
    [index]="i"
  ></app-recipe-item>
</div>
