<div class="grid grid-cols-1 place-items-center">
  <div class="bg-white text-center py-4 lg:px-4" *ngIf="error">
    <div
      class="p-2 bg-red-800 items-center text-white leading-none lg:rounded-full flex lg:inline-flex"
      role="alert"
    >
      <span
        class="flex rounded-full bg-red-500 uppercase px-2 py-1 text-xs font-bold mr-3"
        >Error</span
      >
      <span class="font-semibold mr-2 text-left flex-auto">{{ error }}</span>
    </div>
  </div>

  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <div class="mb-4 w-96">
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >E-mail</label
      >
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        id="email"
        type="email"
        formControlName="email"
      />
      <span
        *ngIf="!authForm.get('email').valid && authForm.get('email').touched"
        class="text-red-500 text-xs"
        >Please enter a valid email.</span
      >
    </div>
    <div class="mb-4">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Password</label
      >
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        id="password"
        type="password"
        formControlName="password"
      />
      <span
        *ngIf="
          !authForm.get('password').valid && authForm.get('password').touched
        "
        class="text-red-500 text-xs"
        >Please enter a password.</span
      >
    </div>

    <div class="flex gap-4">
      <button
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded disabled:bg-gray-200"
        type="submit"
        [disabled]="!authForm.valid"
      >
        {{ isLoginMode ? "Login" : "Sign Up" }}
      </button>
      <button
        class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded disabled:bg-gray-200"
        type="button"
        (click)="onSwithMode()"
      >
        Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
      </button>
    </div>
  </form>
</div>
